# Dropbox settings and caches
.dropbox
.dropbox.attr
.dropbox.cache

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Extensions
*.csv
*.txt
*.xlsx

#Jupyter
.ipynb_checkpoints/*